@import '../../inconfont.less';
@import '../../app.less';
.adress-container{
  line-height: normal;
  display: block;
  color: #333;
  .item-view{
    margin: @space;
    border-color: @bodyColor;
    border-radius: @borderRadius;
    .boxShadow();
    .item-top-view{
      margin: 30px;
      .name{
        margin-top: 20px;
      }
    }
    .item-buttom-view{
      .at-checkbox__icon{
        border-color: @orange;
      }
      .at-checkbox__option:active{
          background: #fff;
      }
      .at-checkbox__icon--selected{
          background-color: @orange;
      }
      .edith{
        margin-left: 20px;
        margin-right: 20px;

      }
      .detele{
        margin-left: 20px;
        margin-right: 20px;

      }
    }
  }

  .address-add{
    position: fixed;
    margin: 40px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:@orange;
  }
}
