@import '../../inconfont.less';
@import '../../app.less';
.index-container{
    line-height: normal;
    display: block;
    color: #333;
    .header{
        padding: 0 @space;
        padding-top: 30px;
    }
    .logo-sty{
        width: 204px;
        border-right: 1px solid #eee;
        padding-right: 20px;
    }
    .arrow-txt{
        color: #999;
    }
    .banner{
        height: 320px;
        position: relative;
        margin: 40px @space 0 @space;
    }
    .banner-inner{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: url(../../images/ban_inner.png) no-repeat 0 bottom;
        background-size: 100% 50px;
    }
    .pannel-title{
        font-size: 36px;
        font-weight: bold;
        margin: 0 @space;
    }
    .type-banner{
        .banner;
        background: url(../../images/banne1.png) no-repeat 0 0;
        background-size: 100% 320px;
    }
    .th-banner{
        .banner;
        background: url(../../images/banner2.png) no-repeat 0 0;
        background-size: 100% 300px;
    }
    .hot-banner{
        .banner;
        background: url(../../images/banner3.png) no-repeat 0 0;
        background-size: 100% 300px;
    }
    .new-banner{
        .banner;
        background: url(../../images/banner4.png) no-repeat 0 0;
        background-size: 100% 300px;
    }
    .prod-panel{
        margin-top: 40px;
    }
    .prod-item{
        @val: 40px;
        width: calc(~"33.33333333333333% - @{val}");
        display: inline-block;
        border-radius: @borderRadius;
        margin: 20px 20px 20px 0;
        .boxShadow();
        background: #ffffff;
        &:last-child{
            margin-right: 30px;
        }
        &:first-child{
            margin-left: 30px;
        }
    }
    .scroll-view{
        display: block;
        width: 100%;
        white-space: nowrap;
    }
    .prod-img{
        width: 100%;
        display: block;
    }
    .prod-name{
        display: block;
        font-size: 24px;
        text-align: center;
        padding: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow:ellipsis;
    }
    .prod-list{
       margin: 0 @space;
       .product{
            @val: 20px;
            width: calc(~"33.33333333333333% - @{val}");
            display: inline-block;
            border-radius: @borderRadius;
            margin-right: 20px;
            margin-top: 20px;
            .boxShadow();
            background: #ffffff;
            .info{
                padding: 10px 10px 20px 10px;
                font-size: 24px;
                text-align: center;
                .name{
                    line-height: normal;
                    display: block;
                    text-align: center;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow:ellipsis;
                }
                .price{
                    line-height: normal;
                    display: block;
                    text-align: center;
                    color: @orangeRed;
                }
                .link{
                    padding: 5px 20px;
                    background: @orangeRed;
                    color: #ffffff;
                    display: inline-block;
                    border-radius: 50px;
                    margin-top: 10px;
                }
                .link-normal{
                    .link;
                    background: @orange;
                }
            }
       }
       &:nth-child(3n){
            margin-right: 10px;
       }
    }
}
